venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

**/*.swp
.lintcache

# translation output
manager/translations/*/LC_MESSAGES/messages.mo
i18n/messages.pot

html/
TODO.md

# ignore everything in resources/ except readme
resources/*
!resources/README.md

# ignore local working notes and snippets
local/

# ignore OTRS test configuration
tests/otrs.conf
