{% extends 'base.html' %}

{# --------------------------------------------------------------------------
                                                              EXTRA CSS, JS
-------------------------------------------------------------------------- #}

{% block extra %}
  <script src="{{ url_for('static', filename='misc.js') }}"></script>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                  SCRIPTAGE
-------------------------------------------------------------------------- #}

{% block scriptage %}
  <script>
// this is used for finding the burst actions on submit
var burst_states;
var burst_updates;

// translation lookup map.  This is to make the text available to library
// code that doesn't get parsed as templates.
var i18n_texts = {
  "Cancel": "{{ _('Cancel') }}",
  "Update": "{{ _('Update') }}"
};

var toasts = [];

function status(msg) {
  toast = makeToast("info", msg, {autohide: false, noClose: true});
  toast.show();
  toasts.push(toast);
  return toasts.length - 1;
}

function status_clear(id) {
  toasts[id].hide();
  delete toasts[id];
}

$("#notification").hide();
$("#error").hide();
$("#error").click(function(e) {
  $("#error").hide();
});

function requestBursts() {
  status_id = status("Retrieving burst reports...")
  $.ajax({
    url: '/xhr/bursts/',
    method: 'GET',
    success: function(reports, status, jqXHR) {
      status_clear(status_id);
      displayBursts(reports, status, jqXHR);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("requestBursts() AJAX error")
    }
  });
}

function makeTableBlank(cluster) {
  return `
            <table id='bursts_table_${cluster}' class='bursts' style='width: 100%'>
              <thead>
                <tr>
                  <th class='number'         ><img
                          src='static/icons/ticks.svg' height='18' width='20'
                          alt='Times reported' title='Times reported'
                          /></th>
                  <th                        >{{ _('Account') }}</th>
                  <th class='nosearch nosort'>{{ _('Usage') }}</th>
                  <th class='number'         >{{ _('Pain') }}</th>
                  <th class='nosort'         >{{ _('Summary') }}</th>
                  <th                        >{{ _('State') }}</th>
                  <th                        >{{ _('Analyst') }}</th>
                  <th                        >{{ _('Ticket') }}</th>
                  <th class='nosearch nosort'>{{ _('Action') }}</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
  `;
}


function displayBursts(reports, status, jqXHR) {

  // reset burst IDs array
  burst_states = {};
  burst_updates = {};

  // used to track clusters
  var clusters = [];

  // get main accordion container
  var accordionParent = document.getElementById('bursts_accordion');

  // burst reports are organized by cluster
  if (Object.keys(reports).length > 0) {

    // get ordering
    var orderingJSON = Cookies.get("ordering");
    if (orderingJSON) {
      var ordering = JSON.parse(orderingJSON);
    } else {
      var ordering = [[3, 'desc']];
    }

    for (var cluster in reports) {

      clusters.push(cluster);

      // TODO: i18n
      var title = `${cluster} - reported ${epoch_to_local_time(reports[cluster]['epoch'])}`;

      // create accordian for this
      var accordion = document.createElement('div');
      accordion.innerHTML = `<div class="accordion-item">
        <h2 class="accordion-header" id="heading-${cluster}">
          <button id="collapse-button-${cluster}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-${cluster}" aria-expanded="false" aria-controls="collapse-${cluster}">
            ${title}
          </button>
        </h2>
        <div id="collapse-${cluster}" class="accordion-collapse collapse" aria-labelledby="heading-${cluster}" data-bs-parent="#bursts_accordion" data-ccf-cluster='${cluster}'>
          <div class="accordion-body">
            ${makeTableBlank(cluster)}
          </div>
        </div>
      </div>`;

      // add to parent and so to the DOM
      accordionParent.appendChild(accordion);

      // create the table
      populateBurstTable(cluster, reports[cluster], ordering);

      // set up ordering update handler
      $(`#bursts_table_${cluster}`).on('order.dt', function(event) {
        var order = $(event.target).DataTable().order();
        Cookies.set("ordering", JSON.stringify(order));
      });

    }

    {# ---------------------------------------------------------------------
      This doesn't work well.  When clicking on the action button, the menu
      is displayed but then the event propagates here and the event history
      displays, which isn't what we want.

    // set up event handler for clicking on table row to take to burst details
    $('.bursts').on('click', 'tbody tr', function(event) {
      // check that currentTarget.id is properly defined; it won't be for
      // summary table.  There is probably a better way to do this.  TODO
      if (event.currentTarget.id !== '') {
        burstID = numerical_part(event.currentTarget.id);
        showBurstHistory(burstID);
      }
    });

    ------------------------------------------------------------------------ #}

    // determine which cluster should be expanded by default
    var expand_cluster = Cookies.get("default-cluster");
    if (!expand_cluster || clusters.indexOf(expand_cluster) == -1) {
      expand_cluster = clusters[0];
      Cookies.set("default-cluster", expand_cluster);
    }

    // expand that cluster's accordion
    // There are two ways to do this: send a button-click message to the
    // accordion button, or manipulate the classes of the accordion button
    // and the accordioned division.  The latter eliminates the animation,
    // which is too much fancy for a basic page load
    //$(`#collapse-button-${expand_cluster}`).click();
    $(`#collapse-button-${expand_cluster}`).removeClass('collapsed');
    $(`#collapse-${expand_cluster}`).addClass('show');

    // add listener for saving user's preference
    accordionParent.addEventListener('show.bs.collapse', function(event) {
      defaultCluster = event.target.dataset.ccfCluster;
      Cookies.set("default-cluster", defaultCluster);
    });
  } else {
    accordionParent.innerHTML = "<p>{{ _('There are currently no bursts defined.') }}</p>";
  }

  $('#submit_actions').html("Update");
  $('#submit_actions').prop("disabled", true);
}

function refreshBursts(reports, status, jqXHR) {

  // reset burst IDs array
  burst_states = {};
  burst_updates = {};

  // burst reports are organized by cluster
  if (Object.keys(reports).length == 0) {
    //TODO: remove accordions and data tables and paste a message of some kind
  }
  else {

    // get ordering
    var orderingJSON = Cookies.get("ordering");
    if (orderingJSON) {
      var ordering = JSON.parse(orderingJSON);
    } else {
      var ordering = [[3, 'desc']];
    }

    for (var cluster in reports) {

      // clear out the accordion
      $(`#collapse-${cluster}`).html(`
          <div class="accordion-body">
            ${makeTableBlank(cluster)}
          </div>`);

      // create the table
      populateBurstTable(cluster, reports[cluster], ordering);
    }
  }
}

function populateBurstTable(cluster, report, ordering) {
  $(`#bursts_table_${cluster}`).dataTable({
    "autoWidth": false,
    "data": renderTableData(report['bursts']),
    "columnDefs": [
      { searchable: false, targets: 'nosearch' },
      { orderable: false, targets: 'nosort' },
      { className: 'number', targets: 'number' },
      { visible: false, targets: [9] }
    ],
    columns: [
      { "name": "ticks" },
      { "name": "account" },
      { "name": "usage" },
      { "name": "pain" },
      { "name": "summary" },
      { "name": "state" },
      { "name": "analyst" },
      { "name": "ticket" },
      { "name": "action" },
      { "name": "id" },
    ],
    order: ordering,
    rowId: function(row) { return "burst_" + row[9] }
  });
}

function updateSelection(id, new_state) {
  if (new_state == burst_states[id]) {
    delete burst_updates[id];
  }
  else {
    burst_updates[id] = new_state;
  }

  // determine update button label
  var burst_update_count = Object.keys(burst_updates).length;
  if (burst_update_count == 0) {
    label = "{{ _('Update') }}";
    $('#submit_actions').prop("disabled", true);
    $('#submit_actions').hide();
  }
  else {
    var label = "{{ _('Update') }}" + ` (${burst_update_count})`;
    $('#submit_actions').html(label);
    $('#submit_actions').prop("disabled", false);
    $('#submit_actions').show();
  }
}

function updateTicket(ticket, status, jqXHR) {
  var el_id = `#ticket_${ticket.burst_id}`;
  var href = `<a href='${ticket.url}' target='_ticket'>${ticket.ticket_no}</a>`;
  $(el_id).html(href);
}

function createTicket(id, account) {

  // close modal
  var myModal = bootstrap.Modal.getInstance(document.getElementById('ticketCreationModal'));
  myModal.hide();

  // get ticket type
  var ticket_type = $('#outreach-type')[0].value;

  status_id = status("Creating ticket...")
  $.ajax({
    url: '/xhr/tickets/',
    method: 'POST',
    data: { burst_id: id, account: account, template: ticket_type },
    success: function(ticket, status, jqXHR) {
      status_clear(status_id);
      updateTicket(ticket, status, jqXHR);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("createTicket() AJAX error")
    }
  });
}

function createNote(id, account) {

  // close modal
  var myModal = bootstrap.Modal.getInstance(document.getElementById('noteCreationModal'));
  myModal.hide();

  // set up update request
  var updates = [
    {
      'id': id,
      'note': $('#noteCreationModalNote')[0].value
    }
  ];

  status_id = status("Recording note...")
  $.ajax({
    url: '/xhr/bursts/',
    method: 'PATCH',
    data: JSON.stringify(updates),
    contentType: 'application/json',
    success: function(reports, status, jqXHR) {
      status_clear(status_id);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("createNote() AJAX error")
    }
  });
}

function claimBurst(id, account) {

  // close modal
  var myModal = bootstrap.Modal.getInstance(document.getElementById('claimBurstModal'));
  myModal.hide();

  // set up update request.  'claimant' is set to blank string so it's filled
  // in with logged-in user on server side
  var updates = [
    {
      'id': id,
      'claimant': '',
      'note': $('#claimBurstModalNote')[0].value
    }
  ]

  status_id = status("Claiming...")
  // make request
  $.ajax({
    url: '/xhr/bursts/',
    method: 'PATCH',
    data: JSON.stringify(updates),
    contentType: 'application/json',
    success: function(reports, status, jqXHR) {
      status_clear(status_id);
      refreshBursts(reports, status, jqXHR);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("claimBurst() AJAX error");
    }
  });
}

function rejectBurst(id, account) {

  // close modal
  var myModal = bootstrap.Modal.getInstance(document.getElementById('rejectBurstModal'));
  myModal.hide();

  // set up update request.  'claimant' is set to blank string so it's filled
  // in with logged-in user on server side
  var updates = [
    {
      'id': id,
      'state': 'rejected',
      'note': $('#rejectBurstModalNote')[0].value
    }
  ]

  status_id = status("Rejecting...")
  // make request
  $.ajax({
    url: '/xhr/bursts/',
    method: 'PATCH',
    data: JSON.stringify(updates),
    contentType: 'application/json',
    success: function(reports, status, jqXHR) {
      status_clear(status_id);
      refreshBursts(reports, status, jqXHR);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("rejectBurst() AJAX error");
    }
  });
}

function acceptBurst(id, account) {

  // close modal
  var myModal = bootstrap.Modal.getInstance(document.getElementById('acceptBurstModal'));
  myModal.hide();

  // set up update request.  'claimant' is set to blank string so it's filled
  // in with logged-in user on server side
  var updates = [
    {
      'id': id,
      'state': 'accepted',
      'note': $('#acceptBurstModalNote')[0].value
    }
  ]

  status_id = status("Accepting...")
  // make request
  $.ajax({
    url: '/xhr/bursts/',
    method: 'PATCH',
    data: JSON.stringify(updates),
    contentType: 'application/json',
    success: function(reports, status, jqXHR) {
      status_clear(status_id);
      refreshBursts(reports, status, jqXHR);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("acceptBurst() AJAX error");
    }
  });
}

// find first row in a table
function find_first_row(tbody_id) {
  var el = document.getElementById(tbody_id);
  if (el.nodeName == "TBODY") {
    el = el.firstElementChild;
    if (el.nodeName == "TR") {
      return(el);
    }
  }
  return null;
}


function eventsToHtml(events) {
  var html = '';
  var title;
  var details;

  if (events.length == 0) {
    return "<p>No events recorded for this burst candidate.</p>";
  }

  for (var i=0, ien=events.length; i<ien; i++) {
    details = '';
    event = events[i];
    switch (event.type) {
      case "Note":
        title = 'Note';
        break;
      case "ClaimantUpdate":
        title = 'Claimant update';
        details = `From ${event.claimant_was} to ${event.claimant_now}`;
        break;
      case "StateUpdate":
        title = 'State update';
        details = `From ${event.old_state} to ${event.new_state}`;
        break;
      default:
        title = `Unknown type of event (${event.type})`;
        details = '<dl>';
        for (key in event) {
          details += `<dt>${key}</dt><dd>${event[key]}</dd>`;
        }
        details += '</dl>';
        break;
    }
    html += `<h6>${title} by ${event.analyst}, ${timestamp_to_local_time(event.timestamp)}</h6>`;
    if (details) {
      html += `<p>${details}</p>`;
    }
    if (event.text) {
      html += `<p><pre>${event.text}</pre></p>`;
    }
  }
  return html;
}


function showBurstHistory(burstID) {
  // show status
  status_id = status("Retrieving events...");

  $.ajax({
    url: `/xhr/bursts/${burstID}/events/`,
    method: 'GET',
    success: function(events, status, jqXHR) {
      status_clear(status_id);

      // set history content
      var modalBodyEl = document.getElementById('historyModalBody');
      modalBodyEl.innerHTML = eventsToHtml(events);

      // show modal
      var modalEl = document.getElementById('historyModal');
      var modal = bootstrap.Modal.getInstance(modalEl);
      modal.show();
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("showBurstHistory() AJAX error");
    }
  });
}


// iterate through burts
function* burstActionIterator() {
  var row = find_first_row("bursts_body");
  if (!row) {
    console.log("Could not find row.");
    console.log("TODO: should probably flash something");
  }
  while (row) {
    yield row;
    row = row.nextElementSibling;
  }
}


// Submit actions
function submit_actions() {
  // submit updates if there are any
  if (Object.keys(burst_updates).length > 0) {
    // clear update button
    $('#submit_actions').html("Update");
    $('#submit_actions').prop("disabled", true);
    $('#submit_actions').hide();

    // show status
    status_id = status("Submitting updates...");

    // make request
    $.ajax({
      url: '/xhr/bursts/',
      method: 'PATCH',
      data: JSON.stringify(burst_updates),
      contentType: 'application/json',
      success: function(reports, status, jqXHR) {
        status_clear(status_id);
        refreshBursts(reports, status, jqXHR);
      },
      error: function() {
        status_clear(status_id);
        //TODO: should be status('error', ...)
        flash_error("submit_actions() AJAX error");
      }
    });
  }
}

function flash_error(summary, message) {
  error_div = document.getElementById('error');
  error_div.innerHtml = "";

  title = document.createElement('h4');
  title.textContent = summary;
  content = document.createElement('p');
  content.textContent = message;

  error_div.appendChild(title);
  error_div.appendChild(content);
  error_div.style.display = "block";
}

// NOTIFICATIONS
// This mechanism adapted from
// https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API

function handleNoNotifications(msg) {
  console.log("No notifications: " + msg);

  // show "refresh <stuff>" link
  var link = document.getElementById("refresh_content_link");
  link.style.display = "block";
}

function handlePermission(permission) {

  // make sure Chrome stores the information
  if (!('permission' in Notification)) {
    Notification.permission = permission;
  }

  if (Notification.permission === 'denied' || Notification.permission === 'default') {
    handleNoNotifications("Denied by user.");
  } else {
    // set up notifications listener
    var targetContainer = document.getElementById("notification");
    var eventSource = new EventSource("/notifications");

    eventSource.onmessage = function(e) {

      // "refresh" notification needs no other processing, just refresh
      if (e.data != "refresh") {
        // if window is in focus or notifications are disabled
        if (document.hasFocus() || Notification.permission != "granted") {
          // TODO: really mixing jQuery and vanilla JS here
          $("#notification").show();
          targetContainer.innerHTML = e.data;
        }
        else {
          var notification = new Notification(e.data)
          notification.onshow = function() { setTimeout(notification.close, 15000) }
        }
      }
      refresh_content();
    };
  }
}

function checkNotificationPromise() {
  try {
    Notification.requestPermission().then();
  } catch(e) {
    return false;
  }
  return true;
}

// set up notifications...
// first check if browser supports them
if (!('Notification' in window)) {
  handleNoNotifications("Browser does not suppoert");
} else {
  if (checkNotificationPromise()) {
    Notification.requestPermission().then((permission) => {
      handlePermission(permission);
    })
  } else {
    Notification.requestPermission(function(permission) {
      handlePermission(permission);
    });
  }
}

function jsonToTable(json) {
  var summary = JSON.parse(json);
  var summaryHTML = '';
  for (key in summary) {
    if (key == "old_pain") {
      value = summary[key].toFixed(2);
    }
    else {
      value = summary[key];
    }
    summaryHTML += `<tr><th>${key}</th><td>${value}</td></tr>`;
  }
  return `<table class='not-table'>${summaryHTML}</table>`;

}

function renderActionMenu(burst) {
  var items = `
        <li><button class='dropdown-item' type='button'
              data-bs-toggle='modal' data-bs-target='#historyModal'
              data-burst-id='${burst.id}' data-account-id='${burst.account}'
            >History</button></li>`;
  if (!burst.claimant) {
    items += `
        <li><button class='dropdown-item' type='button'
              data-bs-toggle='modal' data-bs-target='#claimBurstModal'
              data-burst-id='${burst.id}' data-account-id='${burst.account}'
            >Claim</button></li>`;
  }
  if (!burst.ticket_href) {
    items += `
        <li><button class='dropdown-item' type='button'
              data-bs-toggle='modal' data-bs-target='#ticketCreationModal'
              data-burst-id='${burst.id}' data-account-id='${burst.account}'
            >Create ticket</button></li>`;
  }
  items += `
        <li><button class='dropdown-item' type='button'
              data-bs-toggle='modal' data-bs-target='#noteCreationModal'
              data-burst-id='${burst.id}' data-account-id='${burst.account}'
            >Make note</button></li>`;
  if (burst.state == 'pending') {
    items += `
        <li><button class='dropdown-item' type='button'
            data-bs-toggle='modal' data-bs-target='#rejectBurstModal'
            data-burst-id='${burst.id}' data-account-id='${burst.account}'
            >Reject</button></li>
        <li><button class='dropdown-item' type='button'
            data-bs-toggle='modal' data-bs-target='#acceptBurstModal'
            data-burst-id='${burst.id}' data-account-id='${burst.account}'
            >Accept</button></li>`;
  }

  return `
    <div class='dropdown'>
      <button class='btn btn-secondary dropdown-toggle' type='button' id='actionMenuButton_${burst.id}' data-bs-toggle='dropdown'>
        {{ _("Action") }}
      </button>
      <ul class='dropdown-menu'>${ items }
      </ul>
    </div>`;
}

function renderTableData(bursts) {

  var id, account, resource;
  var state_checked;

  bycols = [];
  for (var i=0, ien=bursts.length; i<ien; i++) {
    state_checked = {}
    state_checked[bursts[i].state] = "checked='checked'";
    burst_states[bursts[i].id] = bursts[i].state;

    id = bursts[i].id;
    account = bursts[i].account;
    resource = bursts[i].resource;

    bycols[i] = [
      bursts[i].ticks,
      bursts[i].account,
      `<a target="beamplot"
href="https://static.frak.c3.ca/usage-graphs/${account}_${resource}_cumu_plot.html">Cumulative</a><br/>
       <a target="beamplot" href="https://static.frak.c3.ca/usage-graphs/${account}_${resource}_insta_plot.html">Instant</a>`,
      bursts[i].pain.toFixed(2),
      jsonToTable(bursts[i].summary),
      bursts[i].state_pretty,
      bursts[i].claimant_pretty || "-",
      `<span id='ticket_${id}' data-burst-id='${id}'>${ bursts[i].ticket_href || "-" }</span>`,
      renderActionMenu(bursts[i]),
      id
    ];
  }

  return bycols;
}

$(document).ready(function() {

  // load bursts
  requestBursts();

  // hide submit-actions button
  $('#submit_actions').hide();

  // initialize the create-ticket modal
  // TODO:
  // TODO: This is going to be repeated for every action and so can be made
  // TODO: reusable.  Create map of modal names to configuration (modal
  // TODO: element id, ...).
  // TODO:
  var createTicketModal = document.getElementById('ticketCreationModal');
  createTicketModal.addEventListener('show.bs.modal', function (event) {
    // button that triggered the modal
    var button = event.relatedTarget;

    // extra information about button
    var burst_id = button.getAttribute('data-burst-id');
    var account_id = button.getAttribute('data-account-id');

    // update modal
    var modalForm = createTicketModal.querySelector('.modal-form');
    modalForm.reset();
    modalForm.action = `javascript:createTicket(${burst_id}, '${account_id}')`;
  });

  var createNoteModal = document.getElementById('noteCreationModal');
  createNoteModal.addEventListener('show.bs.modal', function (event) {
    // button that triggered the modal
    var button = event.relatedTarget;

    // extra information about button
    var burst_id = button.getAttribute('data-burst-id');
    var account_id = button.getAttribute('data-account-id');

    // update modal
    var modalForm = createNoteModal.querySelector('.modal-form');
    modalForm.reset();
    modalForm.action = `javascript:createNote(${burst_id}, '${account_id}')`;
  });

  var claimBurstModal = document.getElementById('claimBurstModal');
  claimBurstModal.addEventListener('show.bs.modal', function (event) {
    // button that triggered the modal
    var button = event.relatedTarget;

    // extra information about button
    var burst_id = button.getAttribute('data-burst-id');
    var account_id = button.getAttribute('data-account-id');

    // update modal
    var modalForm = claimBurstModal.querySelector('.modal-form');
    modalForm.reset();
    modalForm.action = `javascript:claimBurst(${burst_id}, '${account_id}')`;
  });

  var rejectBurstModal = document.getElementById('rejectBurstModal');
  rejectBurstModal.addEventListener('show.bs.modal', function (event) {
    // button that triggered the modal
    var button = event.relatedTarget;

    // extra information about button
    var burst_id = button.getAttribute('data-burst-id');
    var account_id = button.getAttribute('data-account-id');

    // update modal
    var modalForm = rejectBurstModal.querySelector('.modal-form');
    modalForm.reset();
    modalForm.action = `javascript:rejectBurst(${burst_id}, '${account_id}')`;
  });

  var acceptBurstModal = document.getElementById('acceptBurstModal');
  acceptBurstModal.addEventListener('show.bs.modal', function (event) {
    // button that triggered the modal
    var button = event.relatedTarget;

    // extra information about button
    var burst_id = button.getAttribute('data-burst-id');
    var account_id = button.getAttribute('data-account-id');

    // update modal
    var modalForm = acceptBurstModal.querySelector('.modal-form');
    modalForm.reset();
    modalForm.action = `javascript:acceptBurst(${burst_id}, '${account_id}')`;
  });

  var historyModal = document.getElementById('historyModal');
  historyModal.addEventListener('show.bs.modal', function (event) {
    // button that triggered the modal
    var button = event.relatedTarget;

    // extra information about button
    var burst_id = button.getAttribute('data-burst-id');

    // clear body
    var modalBodyEl = document.getElementById('historyModalBody');
    modalBodyEl.innerHTML = "<p><i>Loading history...</i></p>";

    // update modal
    showBurstHistory(burst_id);
  });

});
  </script>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                     HEADER
-------------------------------------------------------------------------- #}
{% block title %}{{ _('Dashboard') }}{% endblock %}
{% block header %}
  <h1>Burst reports</h1>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                    CONTENT
-------------------------------------------------------------------------- #}

{% block content %}
<div id='notification'>
</div>
<div id='error'>
</div>

<div class='accordion' id='bursts_accordion'>
</div>

<button id='submit_actions' value='Submit' onclick='submit_actions()'>{{ _('Update') }}</button>

{# --------------------------------------------------------------------------
                                                      TICKET CREATION MODAL
-------------------------------------------------------------------------- #}

<div class='modal fade' id='ticketCreationModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form class='modal-form'>
        <div class='modal-header'>
          <h5 class='modal-title' id='ticketCreationModalLabel'>Create ticket</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
        </div>
        <div class='modal-body'>
          <p><strong>Note</strong>: Continuing with this operation will create a ticket and send outgoing e-mails to the PI associated with this account.</p>

          <p>Select what sort of outreach you want to initiate:
            <select class='form-select' id='outreach-type' required>
              <option selected disabled>Choose outreach type</option>
              <option value='candidate'>Burst candidate</option>
              <option value='impossible'>Impossible jobs</option>
              <option value='rac'>Apply for RAC</option>
            </select>
          </p>

          <p>
            <div class='form-check'>
              <input class='form-check-input' type='checkbox' value='' id='agreeEmail' unchecked required>
              <label class='form-check-label' for='agreeEmail'>
                Agree to send e-mails
              </label>
            </div>
          </p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
          <button type='submit' class='btn btn-primary'>Create ticket</button>
        </div>
      </form>
    </div>
  </div>
</div>

{# --------------------------------------------------------------------------
                                                        NOTE CREATION MODAL
-------------------------------------------------------------------------- #}

<div class='modal fade' id='noteCreationModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form class='modal-form'>
        <div class='modal-header'>
          <h5 class='modal-title' id='noteCreationModalLabel'>Make note</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
        </div>
        <div class='modal-body'>
          <p>This note will become part of the burst candidate history.</p>
          <p>
            <div class='form-group'>
              <label for='note'>Text</label>
              <textarea class='form-control' type='text' id='noteCreationModalNote' required rows='3'></textarea>
            </div>
          </p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
          <button type='submit' class='btn btn-primary'>Make note</button>
        </div>
      </form>
    </div>
  </div>
</div>

{# --------------------------------------------------------------------------
                                                          CLAIM BURST MODAL
-------------------------------------------------------------------------- #}

<div class='modal fade' id='claimBurstModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form class='modal-form'>
        <div class='modal-header'>
          <h5 class='modal-title' id='claimBurstModalLabel'>Claim burst candidate</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
        </div>
        <div class='modal-body'>
          <p>By claiming this burst you indicate you will follow up with the
analysis of this job set and with the research group, as necessary.</p>
          <p>
            <div class='form-group'>
              <label for='note'>Note (optional)</label>
              <textarea class='form-control' type='text' id='claimBurstModalNote'></textarea>
            </div>
          </p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
          <button type='submit' class='btn btn-primary'>Claim</button>
        </div>
      </form>
    </div>
  </div>
</div>

{# --------------------------------------------------------------------------
                                                          REJECT MODAL
-------------------------------------------------------------------------- #}

<div class='modal fade' id='rejectBurstModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form class='modal-form'>
        <div class='modal-header'>
          <h5 class='modal-title' id='rejectBurstModalLabel'>Claim burst candidate</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
        </div>
        <div class='modal-body'>
          <p>By rejecting this burst candidate you are indicating it's not of
interest for bursting.</p>
          <p>
            <div class='form-group'>
              <label for='note'>Note</label>
              <textarea class='form-control' type='text' id='rejectBurstModalNote' required></textarea>
            </div>
          </p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
          <button type='submit' class='btn btn-primary'>Claim</button>
        </div>
      </form>
    </div>
  </div>
</div>

{# --------------------------------------------------------------------------
                                                          ACCEPT MODAL
-------------------------------------------------------------------------- #}

<div class='modal fade' id='acceptBurstModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form class='modal-form'>
        <div class='modal-header'>
          <h5 class='modal-title' id='acceptBurstModalLabel'>Claim burst candidate</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
        </div>
        <div class='modal-body'>
          <p>By accepting this burst candidate you are confirming this account
is eligible for elevated access to resources.</p>
          <p>
            <div class='form-group'>
              <label for='note'>Note</label>
              <textarea class='form-control' type='text' id='acceptBurstModalNote' required></textarea>
            </div>
          </p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
          <button type='submit' class='btn btn-primary'>Claim</button>
        </div>
      </form>
    </div>
  </div>
</div>

{# --------------------------------------------------------------------------
                                                              HISTORY MODAL
-------------------------------------------------------------------------- #}

<div class='modal fade' id='historyModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='historyModalLabel'>Burst candidate history</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body' id='historyModalBody'>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn btn-primary' data-bs-dismiss='modal'>Mkay</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
