{% extends 'base.html' %}

{# --------------------------------------------------------------------------
                                                              EXTRA CSS, JS
-------------------------------------------------------------------------- #}

{% block extra %}
  <script src="{{ url_for('static', filename='misc.js') }}"></script>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                  SCRIPTAGE
-------------------------------------------------------------------------- #}

{% block scriptage %}
  <script>
// this is used for finding the burst actions on submit
var burst_states;
var burst_updates;

// translation lookup map.  This is to make the text available to library
// code that doesn't get parsed as templates.
var i18n_texts = {
  "Cancel": "{{ _('Cancel') }}",
  "Update": "{{ _('Update') }}"
};

var toasts = [];

function status(msg) {
  toast = makeToast("info", msg, {autohide: false, noClose: true});
  toast.show();
  toasts.push(toast);
  return toasts.length - 1;
}

function status_clear(id) {
  toasts[id].hide();
  delete toasts[id];
}

$("#notification").hide();
$("#error").hide();
$("#error").click(function(e) {
  $("#error").hide();
});

function requestBursts() {
  status_id = status("Retrieving burst reports...")
  $.ajax({
    url: '/xhr/bursts/',
    method: 'GET',
    success: function(reports, status, jqXHR) {
      status_clear(status_id);
      displayBursts(reports, status, jqXHR);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("requestBursts() AJAX error")
    }
  });
}

function makeTableBlank(cluster) {
  return `
            <table id='bursts_table_${cluster}' class='' style='width: 100%'>
              <thead>
                <tr>
                  <th class='number'         ><img
                          src='static/icons/ticks.svg' height='18' width='20'
                          alt='Times reported' title='Times reported'
                          /></th>
                  <th                        >{{ _('Account') }}</th>
                  <th class='nosearch nosort'>{{ _('Usage') }}</th>
                  <th class='number'         >{{ _('Pain') }}</th>
                  <th class='nosort'         >{{ _('Summary') }}</th>
                  <th                        >{{ _('State') }}</th>
                  <th                        >{{ _('Analyst') }}</th>
                  <th                        >{{ _('Ticket') }}</th>
                  <th class='nosearch nosort'>{{ _('Action') }}</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
  `;
}


function displayBursts(reports, status, jqXHR) {

  // reset burst IDs array
  burst_states = {};
  burst_updates = {};

  // used to track clusters
  var clusters = [];

  // burst reports are organized by cluster
  if (Object.keys(reports).length > 0) {

    // get main accordion container
    var accordionParent = document.getElementById('bursts_accordion');

    // get ordering
    var orderingJSON = Cookies.get("ordering");
    if (orderingJSON) {
      var ordering = JSON.parse(orderingJSON);
    } else {
      var ordering = [[3, 'desc']];
    }

    for (var cluster in reports) {

      clusters.push(cluster);

      // TODO: i18n
      var title = `${cluster} - reported ${epoch_to_local_time(reports[cluster]['epoch'])}`;

      // create accordian for this
      var accordion = document.createElement('div');
      accordion.innerHTML = `<div class="accordion-item">
        <h2 class="accordion-header" id="heading-${cluster}">
          <button id="collapse-button-${cluster}" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-${cluster}" aria-expanded="false" aria-controls="collapse-${cluster}">
            ${title}
          </button>
        </h2>
        <div id="collapse-${cluster}" class="accordion-collapse collapse" aria-labelledby="heading-${cluster}" data-bs-parent="#bursts_accordion" data-ccf-cluster='${cluster}'>
          <div class="accordion-body">
            ${makeTableBlank(cluster)}
          </div>
        </div>
      </div>`;

      // add to parent and so to the DOM
      accordionParent.appendChild(accordion);

      // create the table
      $(`#bursts_table_${cluster}`).dataTable({
        "autoWidth": false,
        "data": renderTableData(reports[cluster]['bursts']),
        "columnDefs": [
          { searchable: false, targets: 'nosearch' },
          { orderable: false, targets: 'nosort' },
          { className: 'number', targets: 'number' }
        ],
        order: ordering
        }
      );

      $(`#bursts_table_${cluster}`).on('order.dt', function(event) {
        var order = $(event.target).DataTable().order();
        Cookies.set("ordering", JSON.stringify(order));
      });

    }

    // determine which cluster should be expanded by default
    var expand_cluster = Cookies.get("default-cluster");
    if (!expand_cluster || clusters.indexOf(expand_cluster) == -1) {
      expand_cluster = clusters[0];
      Cookies.set("default-cluster", expand_cluster);
    }

    // expand that cluster's accordion
    // There are two ways to do this: send a button-click message to the
    // accordion button, or manipulate the classes of the accordion button
    // and the accordioned division.  The latter eliminates the animation,
    // which is too much fancy for a basic page load
    //$(`#collapse-button-${expand_cluster}`).click();
    $(`#collapse-button-${expand_cluster}`).removeClass('collapsed');
    $(`#collapse-${expand_cluster}`).addClass('show');

    // add listener for saving user's preference
    accordionParent.addEventListener('show.bs.collapse', function(event) {
      defaultCluster = event.target.dataset.ccfCluster;
      Cookies.set("default-cluster", defaultCluster);
    });
  } else {
    r = document.createElement("tr");
    r.innerHTML = "<td></td><td colspan=7>{{ _('There are currently no bursts defined.') }}</td>";
    tbody.appendChild(r);
  }

  $('#submit_actions').html("Update");
  $('#submit_actions').prop("disabled", true);
}

function refreshBursts(reports, status, jqXHR) {

  // reset burst IDs array
  burst_states = {};
  burst_updates = {};

  // burst reports are organized by cluster
  if (Object.keys(reports).length == 0) {
    //TODO: remove accordions and data tables and paste a message of some kind
  }
  else {

    // get ordering
    var orderingJSON = Cookies.get("ordering");
    if (orderingJSON) {
      var ordering = JSON.parse(orderingJSON);
    } else {
      var ordering = [[3, 'desc']];
    }

    for (var cluster in reports) {

      // clear out the accordion
      $(`#collapse-${cluster}`).html(`
          <div class="accordion-body">
            ${makeTableBlank(cluster)}
          </div>`);

      // create the table
      $(`#bursts_table_${cluster}`).dataTable({
        "autoWidth": false,
        "data": renderTableData(reports[cluster]['bursts']),
        "columnDefs": [
          { searchable: false, targets: 'nosearch' },
          { orderable: false, targets: 'nosort' },
          { className: 'number', targets: 'number' }
        ],
        order: ordering
        }
      );

    }
  }
}

function updateSelection(id, new_state) {
  if (new_state == burst_states[id]) {
    delete burst_updates[id];
  }
  else {
    burst_updates[id] = new_state;
  }

  // determine update button label
  var burst_update_count = Object.keys(burst_updates).length;
  if (burst_update_count == 0) {
    label = "{{ _('Update') }}";
    $('#submit_actions').prop("disabled", true);
    $('#submit_actions').hide();
  }
  else {
    var label = "{{ _('Update') }}" + ` (${burst_update_count})`;
    $('#submit_actions').html(label);
    $('#submit_actions').prop("disabled", false);
    $('#submit_actions').show();
  }
}

function updateTicket(ticket, status, jqXHR) {
  var el_id = `#ticket_${ticket.burst_id}`;
  var href = `<a href='${ticket.url}' target='_ticket'>${ticket.ticket_no}</a>`;
  $(el_id).html(href);
  console.log('Ticket = ' + ticket.burst_id);
}

function createTicket(id, account) {

  // close modal
  var myModal = bootstrap.Modal.getInstance(document.getElementById('ticketCreationModal'));
  myModal.hide();

  // get ticket type
  var ticket_type = $('#outreach-type')[0].value;

  status_id = status("Creating ticket...")
  $.ajax({
    url: '/xhr/tickets/',
    method: 'POST',
    data: { burst_id: id, account: account, template: ticket_type },
    success: function(ticket, status, jqXHR) {
      status_clear(status_id);
      updateTicket(ticket, status, jqXHR);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("createTicket() AJAX error")
    }
  });
}

function claim(id, account) {

  // set up update request.  'claimant' is ignored, but needs to be present
  var updates = [
    {
      'id': id,
      'claimant': 'set'
    }
  ]
  
  // make request
  $.ajax({
    url: '/xhr/bursts/',
    method: 'PATCH',
    data: JSON.stringify(updates),
    contentType: 'application/json',
    success: function(reports, status, jqXHR) {
      status_clear(status_id);
      refreshBursts(reports, status, jqXHR);
    },
    error: function() {
      status_clear(status_id);
      //TODO: should be status('error', ...)
      flash_error("submit_actions() AJAX error");
    }
  });
  

}

// find first row in a table
function find_first_row(tbody_id) {
  var el = document.getElementById(tbody_id);
  if (el.nodeName == "TBODY") {
    el = el.firstElementChild;
    if (el.nodeName == "TR") {
      return(el);
    }
  }
  return null;
}

// iterate through burts
function* burstActionIterator() {
  var row = find_first_row("bursts_body");
  if (!row) {
    console.log("Could not find row.");
    console.log("TODO: should probably flash something");
  }
  while (row) {
    yield row;
    row = row.nextElementSibling;
  }
}


// Submit actions
function submit_actions() {
  // submit updates if there are any
  if (Object.keys(burst_updates).length > 0) {
    // clear update button
    $('#submit_actions').html("Update");
    $('#submit_actions').prop("disabled", true);
    $('#submit_actions').hide();

    // show status
    status_id = status("Submitting updates...");

    // make request
    $.ajax({
      url: '/xhr/bursts/',
      method: 'PATCH',
      data: JSON.stringify(burst_updates),
      contentType: 'application/json',
      success: function(reports, status, jqXHR) {
        status_clear(status_id);
        refreshBursts(reports, status, jqXHR);
      },
      error: function() {
        status_clear(status_id);
        //TODO: should be status('error', ...)
        flash_error("submit_actions() AJAX error");
      }
    });
  }
}

function flash_error(summary, message) {
  error_div = document.getElementById('error');
  error_div.innerHtml = "";

  title = document.createElement('h4');
  title.textContent = summary;
  content = document.createElement('p');
  content.textContent = message;

  error_div.appendChild(title);
  error_div.appendChild(content);
  error_div.style.display = "block";
}

// NOTIFICATIONS
// This mechanism adapted from
// https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API

function handleNoNotifications(msg) {
  console.log("No notifications: " + msg);

  // show "refresh <stuff>" link
  var link = document.getElementById("refresh_content_link");
  link.style.display = "block";
}

function handlePermission(permission) {

  // make sure Chrome stores the information
  if (!('permission' in Notification)) {
    Notification.permission = permission;
  }

  if (Notification.permission === 'denied' || Notification.permission === 'default') {
    handleNoNotifications("Denied by user.");
  } else {
    // set up notifications listener
    var targetContainer = document.getElementById("notification");
    var eventSource = new EventSource("/notifications");

    eventSource.onmessage = function(e) {

      // "refresh" notification needs no other processing, just refresh
      if (e.data != "refresh") {
        // if window is in focus or notifications are disabled
        if (document.hasFocus() || Notification.permission != "granted") {
          // TODO: really mixing jQuery and vanilla JS here
          $("#notification").show();
          targetContainer.innerHTML = e.data;
        }
        else {
          var notification = new Notification(e.data)
          notification.onshow = function() { setTimeout(notification.close, 15000) }
        }
      }
      refresh_content();
    };
  }
}

function checkNotificationPromise() {
  try {
    Notification.requestPermission().then();
  } catch(e) {
    return false;
  }
  return true;
}

// set up notifications...
// first check if browser supports them
if (!('Notification' in window)) {
  handleNoNotifications("Browser does not suppoert");
} else {
  if (checkNotificationPromise()) {
    Notification.requestPermission().then((permission) => {
      handlePermission(permission);
    })
  } else {
    Notification.requestPermission(function(permission) {
      handlePermission(permission);
    });
  }
}

function jsonToTable(json) {
  var summary = JSON.parse(json);
  var summaryHTML = '';
  for (key in summary) {
    summaryHTML += `<tr><th>${key}</th><td>${summary[key]}</td></tr>`;
  }
  return `<table class='not-table'>${summaryHTML}</table>`;

}

function renderActionMenu(burst) {
  var items = '';
  if (!burst.claimant) {
    items += `
        <li><button class='dropdown-item' type='button'
              data-bs-toggle='modal' data-bs-target='#claimTicketModal'
              data-burst-id='${burst.id}' data-account-id='${burst.account}'
            >Claim</button></li>`;
  }
  if (!burst.ticket_href) {
    items += `
        <li><button class='dropdown-item' type='button'
              data-bs-toggle='modal' data-bs-target='#ticketCreationModal'
              data-burst-id='${burst.id}' data-account-id='${burst.account}'
            >Create ticket</button></li>`;
  }
  items += `
        <li><a class='dropdown-item' href='#'>Make note</a></li>
        <li><a class='dropdown-item' href='#'>Reject</a></li>
        <li><a class='dropdown-item' href='#'>Accept</a></li>`;

  return `
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>

    <div class='dropdown'>
      <button class='btn btn-secondary dropdown-toggle' type='button' id='actionMenuButton_${burst.id}' data-bs-toggle='dropdown'>
        {{ _("Action") }}
      </button>
      <ul class='dropdown-menu'>${ items }
      </ul>
    </div>`;
}

function renderActionButtons(id, state_checked) {
  return `
    <label class='switch' title='{{ _("Unclaim") }}'>
      <input type='radio' name='moderation_${id}' class='grey'  id='defer_${ id }'  ${ state_checked["p"] } onClick='updateSelection(${ id }, "unclaimed")'>
        <span class='toggle'>&#x1f97a;</span>
      </input>
    </label>
    <label class='switch' title='{{ _("Claim this burst candidate for followup") }}'>
      <input type='radio' name='moderation_${id}' class='grey'  id='claim_${ id }'  ${ state_checked["c"] } onClick='updateSelection(${ id }, "claimed")'>
        <span class='toggle'>&#x1f914;</span>
      </input>
    </label>
    <label class='switch' title='{{ _("Promote this account for bursting") }}'>
      <input type='radio' name='moderation_${id}' class='green' id='accept_${ id }' ${ state_checked["a"] } onClick='updateSelection(${ id }, "accepted")'>
        <span class='toggle'>&#x1f600;</span>
      </input>
    </label>
    <label class='switch' title='{{ _("Do not promote this account for bursting") }}'>
      <input type='radio' name='moderation_${id}' class='red'   id='reject_${ id }' ${ state_checked["r"] } onClick='updateSelection(${ id }, "rejected")'>
        <span class='toggle'>&#x1f625;</span>
      </input>
    </label>
  `;
}

function renderTableData(bursts) {

  var id, account, resource;
  var state_checked;

  bycols = [];
  for (var i=0, ien=bursts.length; i<ien; i++) {
    state_checked = {}
    state_checked[bursts[i].state] = "checked='checked'";
    burst_states[bursts[i].id] = bursts[i].state;

    id = bursts[i].id;
    account = bursts[i].account;
    resource = bursts[i].resource;

    console.log(renderActionMenu(bursts[i]));
    bycols[i] = [
      bursts[i].ticks,
      bursts[i].account,
      `<a target="beamplot"
href="https://static.frak.c3.ca/usage-graphs/${account}_${resource}_cumu_plot.html">Cumulative</a><br/>
       <a target="beamplot" href="https://static.frak.c3.ca/usage-graphs/${account}_${resource}_insta_plot.html">Instant</a>`,
      bursts[i].pain.toFixed(2),
      jsonToTable(bursts[i].summary),
      bursts[i].state_pretty,
      bursts[i].claimant_pretty || "None",
      `<span id='ticket_${id}' data-burst-id='${id}'>${ bursts[i].ticket_href || "None" }</span>`,
      renderActionMenu(bursts[i]),
    ];
  }
  return bycols;
}

$(document).ready(function() {

  // load bursts
  requestBursts();

  // hide submit-actions button
  $('#submit_actions').hide();

  // initialize the create-ticket modal
  // TODO:
  // TODO: This is going to be repeated for every action and so can be made
  // TODO: reusable.  Create map of modal names to configuration (modal
  // TODO: element id, ...).
  // TODO:
  var createTicketModal = document.getElementById('ticketCreationModal');
  createTicketModal.addEventListener('show.bs.modal', function (event) {
    // button that triggered the modal
    var button = event.relatedTarget;

    // extra information about button
    var burst_id = button.getAttribute('data-burst-id');
    var account_id = button.getAttribute('data-account-id');

    // update modal
    var modalForm = createTicketModal.querySelector('.modal-form');
    modalForm.reset();
    modalForm.action = `javascript:createTicket(${burst_id}, '${account_id}')`;
  });
});
  </script>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                     HEADER
-------------------------------------------------------------------------- #}
{% block title %}{{ _('Dashboard') }}{% endblock %}
{% block header %}
  <h1>Burst reports</h1>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                    CONTENT
-------------------------------------------------------------------------- #}

{% block content %}
<div id='notification'>
</div>
<div id='error'>
</div>

<div class='accordion' id='bursts_accordion'>
</div>

<button id='submit_actions' value='Submit' onclick='submit_actions()'>{{ _('Update') }}</button>

{# --------------------------------------------------------------------------
                                                      TICKET CREATION MODAL
-------------------------------------------------------------------------- #}

<div class='modal fade' id='ticketCreationModal' tabindex='-1'>
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <form class='modal-form'>
        <div class='modal-header'>
          <h5 class='modal-title' id='ticketCreationModalLabel'>Create ticket</h5>
          <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
        </div>
        <div class='modal-body'>
          <p><strong>Note</strong>: Continuing with this operation will create a ticket and send outgoing e-mails to the PI associated with this account.</p>

          <p>Select what sort of outreach you want to initiate:
            <select class='form-select' id='outreach-type' required>
              <option selected disabled>Choose outreach type</option>
              <option value='candidate'>Burst candidate</option>
              <option value='impossible'>Impossible jobs</option>
              <option value='rac'>Apply for RAC</option>
            </select>
          </p>

          <p>
            <div class='form-check'>
              <input class='form-check-input' type='checkbox' value='' id='agreeEmail' unchecked required>
              <label class='form-check-label' for='agreeEmail'>
                Agree to send e-mails
              </label>
            </div>
          </p>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Cancel</button>
          <button type='submit' class='btn btn-primary'>Create ticket</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
