{% extends 'base.html' %}

{# --------------------------------------------------------------------------
                                                              EXTRA CSS, JS
-------------------------------------------------------------------------- #}

{% block extra %}
  <script src="{{ url_for('static', filename='misc.js') }}"></script>
  <style type='text/css'>
    #timeleft { width: 240px; height: 45px; }
  </style>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                  SCRIPTAGE
-------------------------------------------------------------------------- #}

{% block scriptage %}
  <script>
// this is used for finding the burst actions on submit
var burst_states;
var burst_updates;

// translation lookup map.  This is to make the text available to library
// code that doesn't get parsed as templates.
var i18n_texts = {
  "Cancel": "{{ _('Cancel') }}"
};


$("#notification").hide();
$("#error").hide();
$("#error").click(function(e) {
  $("#error").hide();
});

function refresh_bursts() {
  $.ajax({
    url: '/xhr/bursts/',
    method: 'GET',
    success: display_bursts,
    error: function() { console.error("refresh_bursts() AJAX error"); }
  });
}

function display_bursts(bursts, status, jqXHR) {

  // clear out body of table, leaving header and footer intact
  var tbody = document.getElementById("bursts_body");
  tbody.innerHTML = "";

  // reset burst IDs array
  burst_states = {};
  burst_updates = {};

  // create row for each burst
  if (bursts) {
    for (burst of bursts) {
      burst_states[burst['id']] = burst['state'];

      // summary information is JSON, make it... not that
      var summary = JSON.parse(burst['summary']);
      var summaryHTML = '';
      for (key in summary) {
        summaryHTML += `<tr><th>${key}</th><td>${summary[key]}</td></tr>`;
      }
      r = document.createElement("tr");
      state_pretty = {'a':'Accepted','p':'Pending','r':'Rejected'}[burst['state']];
      state_selected = {'a': '', 'p': '', 'r': ''};
      state_selected[burst['state']] = 'selected';
      
      r.innerHTML = `
        <td>${burst['id']}</td>
        <td>${burst['cluster']}</td>
        <td>${burst['account']}</td>
        <td>${burst['pain'].toFixed(2)}</td>
        <td><table class='not-table'>${summaryHTML}</table></td>
        <td>${state_pretty}</td>
        <td><select id='action_${burst["id"]}' class='burst_action' onChange='updateSelection(${burst["id"]}, "${burst["state"]}")'>
          <option value='p' ${state_selected['p']}>Defer</option>
          <option value='a' ${state_selected['a']}>Accept</option>
          <option value='r' ${state_selected['r']}>Reject</option>
        </select></td>`;
      tbody.appendChild(r);
    }
  } else {
    r = document.createElement("tr");
    r.innerHTML = "<td colspan=6>There are currently no bursts defined.</td>";
    tbody.appendChild(r);
  }

  var button = document.getElementById("submit_actions");
  button.innerHTML = "Update";
  button.disabled = true;
}

function updateSelection(id, original_state) {
  var sel = document.getElementById(`action_${id}`);
  var val = sel.value;
  if (val == burst_states[id]) {
    delete burst_updates[id];
  }
  else {
    burst_updates[id] = val;
  }

  // determine update button label
  var label;
  var button = document.getElementById("submit_actions");
  var burst_update_count = Object.keys(burst_updates).length;
  if (burst_update_count == 0) {
    label = 'Update';
    button.disabled = true;
    button.innerHTML = label;
  }
  else {
    label = `Update (${burst_update_count})`;
    button.disabled = false;
    button.innerHTML = label;
  }
}

// Populate this to refresh content areas.
function refresh_content() {
  refresh_bursts();
}

// find first row in a table
function find_first_row(tbody_id) {
  var el = document.getElementById(tbody_id);
  if (el.nodeName == "TBODY") {
    el = el.firstElementChild;
    if (el.nodeName == "TR") {
      return(el);
    }
  }
  return null;
}

// iterate through burts
function* burstActionIterator() {
  var row = find_first_row("bursts_body");
  if (!row) {
    console.log("Could not find row.");
    console.log("TODO: should probably flash something");
  }
  while (row) {
    yield row;
    row = row.nextElementSibling;
  }
}

function numerical_part(id) {
  var re = /^[a-zA-Z]*_([0-9]+)$/
  return id.match(re)[1];
}

// Submit actions
function submit_actions() {
  // submit updates if there are any
  if (Object.keys(burst_updates).length > 0) {
    $.ajax({
      url: '/xhr/bursts/',
      data: JSON.stringify(burst_updates),
      contentType: 'application/json',
      method: 'PATCH',
      success: display_bursts,
      error: function() { console.error("submit_actions() AJAX error"); }
    });
  }
}

function flash_error(summary, message) {
  error_div = document.getElementById('error');
  error_div.innerHtml = "";

  title = document.createElement('h4');
  title.textContent = summary;
  content = document.createElement('p');
  content.textContent = message;

  error_div.appendChild(title);
  error_div.appendChild(content);
  error_div.style.display = "block";
}

// NOTIFICATIONS
// This mechanism adapted from 
// https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API

function handleNoNotifications(msg) {
  console.log("No notifications: " + msg);

  // show "refresh <stuff>" link
  var link = document.getElementById("refresh_content_link");
  link.style.display = "block";
}

function handlePermission(permission) {

  // make sure Chrome stores the information
  if (!('permission' in Notification)) {
    Notification.permission = permission;
  }

  if (Notification.permission === 'denied' || Notification.permission === 'default') {
    handleNoNotifications("Denied by user.");
  } else {
    // set up notifications listener
    var targetContainer = document.getElementById("notification");
    var eventSource = new EventSource("/notifications");

    eventSource.onmessage = function(e) {

      // "refresh" notification needs no other processing, just refresh
      if (e.data != "refresh") {
        // if window is in focus or notifications are disabled
        if (document.hasFocus() || Notification.permission != "granted") {
          // TODO: really mixing jQuery and vanilla JS here
          $("#notification").show();
          targetContainer.innerHTML = e.data;
        }
        else {
          var notification = new Notification(e.data)
          notification.onshow = function() { setTimeout(notification.close, 15000) }
        }
      }
      refresh_content();
    };
  }
}

function checkNotificationPromise() {
  try {
    Notification.requestPermission().then();
  } catch(e) {
    return false;
  }
  return true;
}

// set up notifications...
// first check if browser supports them
if (!('Notification' in window)) {
  handleNoNotifications("Browser does not suppoert");
} else {
  if (checkNotificationPromise()) {
    Notification.requestPermission().then((permission) => {
      handlePermission(permission);
    })
  } else {
    Notification.requestPermission(function(permission) {
      handlePermission(permission);
    });
  }
}

// for when document is ready (this syntax is recommended but not very
// readable or searchable)
$(function() {
  refresh_content();

  // disable submit-actions button
  document.getElementById("submit_actions").disabled = true;
});
  </script>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                     HEADER
-------------------------------------------------------------------------- #}

{% block header %}
  <h1>{% block title %}{{ _('Dashboard') }}{% endblock %}</h1>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                    CONTENT
-------------------------------------------------------------------------- #}

{% block content %}
<div id='notification'>
</div>
<div id='error'>
</div>

<div id='bursts'>
<table>
  <caption>Bursts</caption>
  <thead>
    <tr>
      <th></th>
      <th>Cluster</th>
      <th>Account</th>
      <th>Pain</th>
      <th>Summary</th>
      <th>State</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id='bursts_body'>
    <tr><td colspan=6><i>Loading burst information, probably...</i></td></tr>
  </tbody>
  <tfooter>
    <td colspan=6></td>
    <td id='button'><button id='submit_actions' value='Submit' onclick='submit_actions()'>Update</button></td>
  </tfooter>
</table>
</div>

{% endblock %}

