{% extends 'base.html' %}

{# --------------------------------------------------------------------------
                                                              EXTRA CSS, JS
-------------------------------------------------------------------------- #}

{% block extra %}
  <script src="{{ url_for('static', filename='misc.js') }}"></script>
  <style type='text/css'>
    #timeleft { width: 240px; height: 45px; }
  </style>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                  SCRIPTAGE
-------------------------------------------------------------------------- #}

{% block scriptage %}
  <script>
// translation lookup map.  This is to make the text available to library
// code that doesn't get parsed as templates.
var i18n_texts = {
  "Cancel": "{{ _('Cancel') }}"
};


$("#notification").hide();
$("#error").hide();
$("#error").click(function(e) {
  $("#error").hide();
});

function refresh_bursts() {
  console.log("In refresh_bursts()");
  $.ajax({
    url: '/xhr/bursts/',
    method: 'GET',
    success: display_bursts,
    error: function() { console.error("refresh_bursts() AJAX error"); }
  });
}

function display_bursts(bursts, status, jqXHR) {

  // clear out body of table, leaving header and footer intact
  var tbody = document.getElementById("bursts_body");
  tbody.innerHTML = "";

  // create row for each burst
  if (bursts) {
    for (burst of bursts) {
      // summary information is JSON, make it... not that
      var summary = JSON.parse(burst['summary']);
      var summaryHTML = '';
      for (key in summary) {
        summaryHTML += `<tr><th>${key}</th><td>${summary[key]}</td></tr>`;
      }
      r = document.createElement("tr");
      r.innerHTML = `
        <td>${burst['id']}</td>
        <td>${burst['cluster']}</td>
        <td>${burst['account']}</td>
        <td>${burst['pain']}</td>
        <td><table class='not-table'>${summaryHTML}</table></td>
        <td>(Actions)</td>`;
      tbody.appendChild(r);
    }
  } else {
    r = document.createElement("tr");
    r.innerHTML = "<td colspan=6>There are currently no bursts defined.</td>";
    tbody.appendChild(r);
  }
}


// Populate this to refresh content areas.
function refresh_content() {
  refresh_bursts();
}

function flash_error(summary, message) {
  error_div = document.getElementById('error');
  error_div.innerHtml = "";

  title = document.createElement('h4');
  title.textContent = summary;
  content = document.createElement('p');
  content.textContent = message;

  error_div.appendChild(title);
  error_div.appendChild(content);
  error_div.style.display = "block";
}

// NOTIFICATIONS
// This mechanism adapted from 
// https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API

function handleNoNotifications(msg) {
  console.log("No notifications: " + msg);

  // show "refresh <stuff>" link
  var link = document.getElementById("refresh_content_link");
  link.style.display = "block";
}

function handlePermission(permission) {

  // make sure Chrome stores the information
  if (!('permission' in Notification)) {
    Notification.permission = permission;
  }

  if (Notification.permission === 'denied' || Notification.permission === 'default') {
    handleNoNotifications("Denied by user.");
  } else {
    // set up notifications listener
    var targetContainer = document.getElementById("notification");
    var eventSource = new EventSource("/notifications");

    eventSource.onmessage = function(e) {

      // "refresh" notification needs no other processing, just refresh
      if (e.data != "refresh") {
        // if window is in focus or notifications are disabled
        if (document.hasFocus() || Notification.permission != "granted") {
          // TODO: really mixing jQuery and vanilla JS here
          $("#notification").show();
          targetContainer.innerHTML = e.data;
        }
        else {
          var notification = new Notification(e.data)
          notification.onshow = function() { setTimeout(notification.close, 15000) }
        }
      }
      refresh_content();
    };
  }
}

function checkNotificationPromise() {
  try {
    Notification.requestPermission().then();
  } catch(e) {
    return false;
  }
  return true;
}

// set up notifications...
// first check if browser supports them
if (!('Notification' in window)) {
  handleNoNotifications("Browser does not suppoert");
} else {
  if (checkNotificationPromise()) {
    Notification.requestPermission().then((permission) => {
      handlePermission(permission);
    })
  } else {
    Notification.requestPermission(function(permission) {
      handlePermission(permission);
    });
  }
}

// for when document is ready (this syntax is recommended but not very
// readable or searchable)
$(function() {
  refresh_content();
});
  </script>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                     HEADER
-------------------------------------------------------------------------- #}

{% block header %}
  <h1>{% block title %}{{ _('Dashboard') }}{% endblock %}</h1>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                    CONTENT
-------------------------------------------------------------------------- #}

{% block content %}
<div id='notification'>
</div>
<div id='error'>
</div>

<div id='bursts'>
<table>
  <caption>Bursts</caption>
  <thead>
    <tr>
      <th></th>
      <th>Cluster</th>
      <th>Account</th>
      <th>Pain</th>
      <th>Summary</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id='bursts_body'>
    <tr><td colspan=6><i>Loading burst information, probably...</i></td></tr>
  </tbody>
</table>
</div>

{% endblock %}

