html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #eee;
  padding: 1rem;
}

body {
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Console", Monaco, monospace;
  color: #377ba8;
  margin: 10px 0 4px;
}

a {
  color: #377ba8;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li, header .action {
  display: block;
  padding: 0.5rem;
}

footer {
  padding: 0 1rem 0;
  background: #eee;
  font-size: 0.85rem; 
  text-align: right;
  color: #ccc;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

div#notification {
  margin: 1em;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

div#error {
  margin: 1em;
  padding: 0.4em 1em;
  background: #ffcccc;
  border: 1px solid #a87b37;
}

ul.flash {
  list-style: none;
}

ul.flash li {
  margin: 1em;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

ul.flash li.error {
  background: #ff9999;
  border: 4px solid #FF0000;
}  

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

div.columns {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
}

div.columns div:first-child {
  border-left: 0px;
}

div.columns div {
  padding: 0px 10px;
  border-left: 1px dashed;
}

table#auction_table {
  border-collapse: collapse;
}

table#auction_table td {
  padding: 4px 10px;
}

tbody#auctions tr:nth-child(4n+1), tbody#auctions tr:nth-child(4n+2) {
  background: #ddd;
}

div#in_running {
  position: relative;
  width: 200px;
  height: 20em;
}

div.columns div h4 {
  font-size: 1.1em;
  height: 1.4em;
  border-bottom: 1px dashed;
  margin-top: 0;
}

table#inbid {
  position: absolute;
  left: 4px;
  width: 200px;
  bottom: 0;
  height: 18em;
}

table.auction tr td {
  border: 1px solid black;
  padding: 1px 4px;
  font-size: smaller;
  overflow: hidden;
}

table.auction td.your_bid {
  position: relative;
  background: lightgreen;
}

table.auction td.your_bid div.cancel_bid {
  display: None;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  border: 0px;
}
table.auction td.your_bid div.cancel_bid .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: large;
}

table.auction td#free {
  background: repeating-linear-gradient(
    45deg,
    cyan,
    cyan 10px,
    darkcyan 10px,
    darkcyan 11px
  );
  height: auto;
}

ul.auction {
  padding: 0px;
  list-style: none;
  font-size: smaller;
}

#resources {
  list-style: none;
  padding: 0px;
}

.ondemand {
  display: none;
}

p#refresh_auction_link {
  display: none;
}

.status table,tbody,tr,th,td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 1px 10px;
  spacing: 0px;
}

#bursts table {
  width: 100%;
  empty-cells: hide;
}

table.not-table th,table.not-table td {
  border: none;
}

table.not-table th {
  text-align: left;
}

table.not-table td {
  text-align: right;
}

th.section {
  text-align: left;
  font-weight: normal;
  background: lightblue;
  border: 0px;
}

td.number {
  text-align: right;
}

td.action {
  text-align: center;
  white-space: nowrap;
}

select.burst_action {
  border: none;
  appearance: none;
  font-size: 1em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: underline;
}

td#button {
  border: 0px;
  text-align: center;
}

button#submit_actions {
  font-size: 1em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #99CCFF;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.5em;
  width: 7em;
  max-width: 7em;
}

button#submit_actions:disabled {
  color: #336699;
  background: #e5eeff;
  border: 1px solid grey;
}

/* --------------------------------------------------------------------------
                                                            toggle buttons
--------------------------------------------------------------------------- */

.switch {
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
  width: 0;
  height: 0;
}

.toggle {
  border: 1px solid;
  padding: 2px;
  margin: 1px;
  color: #666666;
  font-size: x-large;
}

input + .toggle {
  padding: 2px 4px;
}

input:checked + .toggle {
  border: 2px solid;
}

input.green:checked + .toggle {
  background-color: #00CC00;
  color: #003300;
  width: 200px;
}

input.red:checked + .toggle {
  background-color: #CC0000;
  color: #333300;
}

input.grey:checked + .toggle {
  background-color: #CCCCFF;
  color: #000033;
}
