html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #eee;
  padding: 2rem;
}

body {
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4 {
  color: #377ba8;
  margin: 10px 0 4px;
}

a {
  color: #377ba8;
  text-decoration: none;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul#help {
  flex: auto;
  margin: 0;
}

nav ul  {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
}

nav ul li, header .action {
  display: block;
}

footer {
  padding: 0 1rem 0;
  background: #eee;
  font-size: 0.85rem; 
  text-align: right;
  color: #ccc;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

div#notification {
  margin: 1em;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

div#error {
  margin: 1em;
  padding: 0.4em 1em;
  background: #ffcccc;
  border: 1px solid #a87b37;
}

ul.flash {
  list-style: none;
}

ul.flash li {
  margin: 1em;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

ul.flash li.error {
  background: #ff9999;
  border: 4px solid #FF0000;
}  

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

/*.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}*/

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

div.columns {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
}

div.columns div:first-child {
  border-left: 0px;
}

div.columns div {
  padding: 0px 10px;
  border-left: 1px dashed;
}

table.not-table {
  width: 100%;
}

table.not-table tbody tr {
  background-color: rgba(0,0,0,0);
}

table.not-table tbody th, table.not-table tbody td {
  padding: 0px;
}

table.not-table th,table.not-table td {
  border: none;
  border-collapse: collapse;
}

table.not-table th {
  text-align: left;
}

table.not-table td {
  text-align: right;
}

th.section {
  text-align: left;
  font-weight: normal;
  background: lightblue;
  border: 0px;
}

td.number {
  text-align: right;
}

td.action {
  text-align: center;
  white-space: nowrap;
}

select.burst_action {
  border: none;
  appearance: none;
  font-size: 1em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: underline;
}

td#button {
  border: 0px;
  text-align: center;
}

button#submit_actions {
  font-size: 1em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background: #99CCFF;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.5em;
  width: 7em;
  max-width: 7em;
  position: fixed;
  right: 4em;
  top: 5em;
}

button#submit_actions:disabled {
  color: #336699;
  background: #e5eeff;
  border: 1px solid grey;
}

table.bursts > tbody > tr:hover {
  background-color: #ddeeff;
}

/* --------------------------------------------------------------------------
                                                            toggle buttons
--------------------------------------------------------------------------- */

.switch {
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
  width: 0;
  height: 0;
}

.toggle {
  border: 1px solid;
  padding: 2px;
  margin: 1px;
  color: #666666;
  font-size: x-large;
}

input + .toggle {
  padding: 2px 4px;
}

input:checked + .toggle {
  border: 2px solid;
  padding: 1px 3px;
}

input.green:checked + .toggle {
  background-color: #00CC00;
  color: #003300;
  width: 200px;
}

input.red:checked + .toggle {
  background-color: #CC0000;
  color: #333300;
}

input.grey:checked + .toggle {
  background-color: #CCCCFF;
  color: #000033;
}

/* --------------------------------------------------------------------------
                                                            other buttons
--------------------------------------------------------------------------- */

.click {
}

.click input {
  display: none;
  width: 0;
  height: 0;
}

input:active + .toggle {
  border: 2px solid;
  padding: 1px 3px;
  background-color: #999999;
}

/* --------------------------------------------------------------------------
                                                            toasts
--------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
                                                            accordions
--------------------------------------------------------------------------- */

/* with tab panes we don't need additional border around accordions */
.accordion-item {
  border: 0px;
}

.accordion-button {
  border-radius: calc(.25rem - 1px);
}

/* collapsed accordion doesn't need line under header */
.accordion-button:not(.collapsed) {
  box-shadow: none;
}

/* leave a little colour in collapsed accordion header */
.accordion-button.collapsed {
  background-color: #e0eaf8;
}

/* --------------------------------------------------------------------------
                                                            tabs and panes
--------------------------------------------------------------------------- */

#panes_container {
  border: 1px solid lightgrey;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top: 0px;
  padding: 1rem;
}
