{# --------------------------------------------------------------------------
                                                                      html
-------------------------------------------------------------------------- #}

<table id='api_keys' class='admin'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cluster</th>
      <th>Component</th>
      <th></th>
    </tr>
  </thead>
  <tbody id='apikeys_tbody'>
    <tr>
      <td colspan=3>{{ _('LOADING') }}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=3><a href='#' class='add_api_key' data-bs-toggle='modal' data-bs-target='#apikeyModal' data-i18n='CREATE_API_KEY'>Create new API key</a></th>
      <td></td>
    </tr>
  </tfoot>
</table>

{# ---------------------------------------------------------------------------
                                                                  scriptage
--------------------------------------------------------------------------- #}

<script>

  function trigger_create_api_key(form, modal) {
    formdata = get_form_values(form);
    create_api_key(formdata['apikey_name'], 'MAKE_UP_A_COMPONENT', formdata['apikey']);
    bootstrap.Modal.getInstance(modal).hide();
  }

  function create_api_key(name, component, secret) {
    var status_id = status(i18n('CREATING_API_KEY'));
    $.ajax({
      url: '/xhr/apikeys/',
      method: 'POST',
      data: {
        "apikey": secret,
        "apikey_name": name,
        "component": component
      },
      success: function() {
        load_resources("apikeys");
        status_clear(status_id);
        return(true);
      },
      error: function() { 
        status_clear(status_id);
        error(i18n("CREATING_API_KEY_FAILED"));
        return(false);
      }
    });
  }

  window.addEventListener("load", function() {

    // load api keys
    load_resources("apikeys");

    // when showing new key modal, generate new API key
    var apikeyModal = document.getElementById('apikeyModal');
    apikeyModal.addEventListener("show.bs.modal", function(event) {
      // reset form
      var modalForm = apikeyModal.querySelector('#create_api_key_form');
      modalForm.reset();

      // populate key
      document.getElementById('apikey').value = generate_api_key();

      // populate components selector
      var status_id = status(i18n("RETRIEVING_COMPONENTS"));
      var componentsSel = $('#components-selection');
      componentsSel.empty();
      componentsSel.append(`<option selected disabled value=''>${i18n('SELECT_COMPONENT')}</option>`);
      $.ajax({
        url: '/xhr/components/',
        method: 'GET',
        success: function(components, status, jqXHR) {
          if (components) {
            for (component of components) {
              componentsSel.append(`<option value=${component['id']}>${component['name']} (${component['cluster']})</option>`);
            }
          }
          status_clear(status_id);
        },
        error: function() {
          status_clear(status_id);
          error(i18n("RETRIEVING_COMPONENTS_FAILED"));
        }
      });
      modalForm.onsubmit = function() {
        formdata = get_form_values(modalForm);
        create_api_key(formdata['apikey_name'], formdata['component'], formdata['apikey']);
        bootstrap.Modal.getInstance(apikeyModal).hide();

        // return false so we don't refresh page
        return false;
      };
    });

  });
</script>

{# ---------------------------------------------------------------------------
                                                     dialog: create API key
--------------------------------------------------------------------------- #}

<div class='modal fade' id='apikeyModal' tabindex='-1'> 
  <div class='modal-dialog modal-dialog-centered modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='apikeyModalTitle' data-i18n='CREATE_API_KEY'>Create API key</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body' id='' data-i18n='CREATE_API_KEY_INFO'>
      </div>
      <form class='modal-form' id='create_api_key_form'>
      <div class='modal-body' id='api-key'>
        <table>
        <tr>
          <th data-i18n='NAME'>Name</th>
          <td><input
            id='apikey_name' type='text' maxlength=16 name='apikey_name'
            required pattern='^[a-zA-Z0-9_]+$'
          /> <span data-i18n='APIKEY_NAME_FORMAT'></span></td>
        </tr><tr>
          <th><label for='recipient' data-i18n='COMPONENT'>Component</label></th>
          <td>
            <select class='form-select' id='components-selection' name='component' required>
              <option selected disabled value='' data-i18n='SELECT_COMPONENT'>Selekt komponent</option>
            </select>
          </td>
        </tr><tr>
          <th data-i18n='KEY'>Key</th>
          <td><input id='apikey' type='text' size='64' readonly name='apikey'
              style='font-size:smaller;font-family:monospace'/>
            <img src='{{ url_for('static', filename='icons/clipboard.svg') }}'
            height=24 width=24 onclick='copy_to_clipboard($("#apikey")[0])'/></td>
        </tr>
        </table>
      </div>
      <div class='modal-footer'>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n='CANCEL'>Cancel</button>
        <button type="submit" class="btn btn-primary" data-i18n='CREATE_API_KEY'>Create API Key</button>
      </div>
      </form>
    </div>
  </div>
</div>
