{# --------------------------------------------------------------------------
                                                                      html
-------------------------------------------------------------------------- #}

<h4>Clusters</h4>

<table id='clusters_table' class='admin'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Cluster</th>
      <th></th>
    </tr>
  </thead>
  <tbody id='clusters_tbody'>
    <tr>
      <td colspan=3 data-i18n='LOADING'>...</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=3><a href='#' class='CHANGE' data-bs-toggle='modal' data-bs-target='#CHANGE'>Kreat nu klustor</a></th>
      <td></td>
    </tr>
  </tfoot>
</table>

<h4>Components</h4>

<table id='components_table' class='admin'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Cluster</th>
      <th>Component</th>
      <th></th>
    </tr>
  </thead>
  <tbody id='components_tbody'>
    <tr>
      <td colspan=3 data-i18n='LOADING'>...</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th colspan=4><a href='#' class='CHANGE' data-bs-toggle='modal' data-bs-target='#CHANGE'>Kreat nu komponent</a></th>
      <td></td>
    </tr>
  </tfoot>
</table>

{# ---------------------------------------------------------------------------
                                                                  scriptage
--------------------------------------------------------------------------- #}

<script>

  window.addEventListener("load", function() {

    // load data
    load_resources('clusters');
    load_resources('components');

  });
</script>

{# ---------------------------------------------------------------------------
                                                     dialog: create resource
--------------------------------------------------------------------------- #}

<div class='modal fade' id='createResourceModal' tabindex='-1'> 
  <div class='modal-dialog modal-dialog-centered modal-lg'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='infoModalTitle' data-i18n='CREATE_RESOURCE'>Kreat resource</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body' id='' data-i18n='CREATE_RESOURCE_INFO'>
      </div>
      <form class='modal-form' id='create_resource_form'>
      <div class='modal-body'>
        <table>
        <tr>
        </tr>
        </table>
      </div>
      <div class='modal-footer'>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n='CANCEL'>Cancel</button>
        <button type="submit" class="btn btn-primary" data-i18n='CREATE_RESOURCE'>Kreat resource</button>
      </div>
      </form>
    </div>
  </div>
</div>

{# ---------------------------------------------------------------------------
                                             dialog: confirm delete resource
--------------------------------------------------------------------------- #}

<div class='modal fade' id='deleteResourceModal' tabindex='-1'> 
  <div class='modal-dialog modal-dialog-centered'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='deleteResourceModalTitle' data-i18n='DELETE_RESOURCE'>Delete some resource</h5>
        <button type='button' class='btn-close' data-bs-dismiss='modal'></button>
      </div>
      <div class='modal-body' id='delete-resource-info' data-i18n='DELETE_RESOURCE_INFO'>
      </div>
      <div class='modal-body' id='delete-resource-details'>
      </div>
      <div class='modal-footer'>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-i18n='CANCEL'>Cancel</button>
        <button type="button" class="btn btn-primary" id='delete-resource-submit' data-i18n='DELETE_RESOURCE'>Delete resource</button>
      </div>
    </div>
  </div>
</div>
