{% extends 'base.html' %}

{# --------------------------------------------------------------------------
                                                              EXTRA CSS, JS
-------------------------------------------------------------------------- #}

{% block extra %}
  <script src="{{ url_for('static', filename='misc.js') }}"></script>
  <script src="{{ url_for('static', filename='alerts.js') }}"></script>
  <script src="{{ url_for('static', filename='admin_prefs.js') }}"></script>
{% endblock %}

{# --------------------------------------------------------------------------
                                                                  SCRIPTAGE
-------------------------------------------------------------------------- #}

{% block scriptage %}
  <script>

$(document).ready(function() {

  // translate static elements
  i18n_static();

  // create listeners
  var triggerTabList = [].slice.call(document.querySelectorAll('#admin_tabs button'))
  triggerTabList.forEach(function (triggerEl) {
    var tabTrigger = new bootstrap.Tab(triggerEl)

    triggerEl.addEventListener('click', function (event) {
      event.preventDefault();
      tabTrigger.show();
      admin_prefs.setActiveTab(event.target.dataset.pane);
    });
  });

  var activePaneId = admin_prefs.getActiveTab();
  var activeTabId = `${activePaneId}-tab`;
  var activeTab = document.getElementById(activeTabId);
  activeTab.classList.add('active');
  activeTab.setAttribute('aria-selected', 'true');

  var activePane = document.getElementById(activePaneId);
  activePane.classList.add('show');
  activePane.classList.add('active');
});
  </script>

{% endblock %}

{# --------------------------------------------------------------------------
                                                                     HEADER
-------------------------------------------------------------------------- #}
{% block title %}{{ _('Admin') }}{% endblock %}
{% block subtitle %}{{ _('Administrative Dashboard') }}{% endblock %}
{% block header %}
{% endblock %}

{# --------------------------------------------------------------------------
                                                                    CONTENT
-------------------------------------------------------------------------- #}

{% block content %}

<ul class="nav nav-tabs" id="admin_tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="authz-tab" data-bs-toggle="tab" data-pane='authz' data-bs-target="#authz" type="button" role="tab" aria-controls="authz" aria-selected="true">{{ _('Authorizations') }}</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="api-keys-tab" data-bs-toggle="tab" data-pane='api-keys' data-bs-target="#api-keys" type="button" role="tab" aria-controls="api-keys" aria-selected="false">{{ _('API Keys') }}</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="configuration-tab" data-bs-toggle="tab" data-pane='configuration' data-bs-target="#configuration" type="button" role="tab" aria-controls="configuration" aria-selected="false">{{ _('Configuration') }}</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="status-tab" data-bs-toggle="tab" data-pane='status' data-bs-target="#status" type="button" role="tab" aria-controls="status" aria-selected="false">{{ _('Status') }}</button>
  </li>
</ul>

<div class="tab-content" id="admin_panes_container">
  <div class="tab-pane fade" id="authz" role="tabpanel" aria-labelledby="authz-tab">{% include 'admin/authz.html' %}</div>
  <div class="tab-pane fade" id="api-keys" role="tabpanel" aria-labelledby="api-keys-tab">{% include 'admin/api-keys.html' %}</div>
  <div class="tab-pane fade" id="configuration" role="tabpanel" aria-labelledby="configuration-tab">{% include 'admin/configuration.html' %}</div>
  <div class="tab-pane fade" id="status" role="tabpanel" aria-labelledby="status-tab">{% include 'admin/status.html' %}</div>
</div>

{% endblock %}
