{# --------------------------------------------------------------------------
                                                                      html
-------------------------------------------------------------------------- #}

<div class='statuses'>

<h4>Components</h4>

<table/
  <thead>
    <tr>
      <th></th>
      <th>Cluster</th>
      <th>Service</th>
      <th>Last heard from</th>
    </tr>
  </thead>
  <tbody id='components'>
  </tbody>
</table>

</div>

{# ---------------------------------------------------------------------------
                                                                  scriptage
--------------------------------------------------------------------------- #}

<script>

  function get_components(event, ui) {
    $.ajax({
      url: '/xhr/components/',
      method: 'GET',
      success: display_components,
      error: function() { console.error("get_components() AJAX error"); }
    });
  }

  function display_components(components, status, jqXHR) {

    // clear out body of table, leaving header and footer intact
    var tbody = document.getElementById("components");
    tbody.innerHTML = "";

    // create row for each component
    if (components) {
      for (component of components) {

        // figure out how to display date
        var dstr;
        if (component['lastheard'] === 0 || component['lastheard'] === null) {
          dstr = i18n("NEVER_CHECKED_IN");
        }
        else {
          var d = new Date(component['lastheard'] * 1000);
          dstr = d.toLocaleString();
        }

        // build row
        r = document.createElement("tr");
        r.innerHTML = `
          <td>${component['name']}</td>
          <td>${component['cluster']}</td>
          <td>${component['service']}</td>
          <td>${dstr}</td>`;
        tbody.appendChild(r);
      }
    } else {
      r = document.createElement("tr");
      r.innerHTML = "<td colspan=4>There are currently no components defined, or checking in.</td>";
      tbody.appendChild(r);
    }
  }

  window.addEventListener("load", function() {
    // load components
    get_components();
  });
</script>
