<!doctype html>
<html>
<head>
  <!-- jQuery-->
  <script src="{{ resources_uri }}/jQuery-3.5.1/jquery-3.5.1.min.js"></script>

  <!-- (Bootstrap) -->
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href="{{ resources_uri }}/bootstrap/css/bootstrap.min.css">

  <script src="{{ resources_uri }}/bootstrap/js/bootstrap.bundle.js"></script>

  <!-- DataTables w/o Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{{ resources_uri }}/datatables/DataTables-1.10.23-no-bootstrap/datatables.min.css"/>
  <script type="text/javascript" src="{{ resources_uri }}/datatables/DataTables-1.10.23-no-bootstrap/datatables.min.js"></script>

  <!-- DataTables w/ Bootstrap
  <link rel="stylesheet" type="text/css" href="{{ resources_uri }}/datatables/datatables.min.css"/>
  <script type="text/javascript" src="{{ resources_uri }}/datatables/datatables.min.js"></script> -->

  <!-- DataTables w/ Bootstrap 5
  <link rel="stylesheet" type="text/css" href="{{ resources_uri }}/datatables/datatables-bootstrap-5/dataTables.bootstrap5.min.css"/>
  <script type="text/javascript" src="{{ resources_uri }}/datatables/datatables-bootstrap-5/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="{{ resources_uri }}/datatables/datatables-bootstrap-5/dataTables.bootstrap5.min.js"></script>
  <script type="text/javascript" src="{{ resources_uri }}/datatables/datatables-bootstrap-5/dataTables.select.min.js"></script> -->

  <!-- Simple Javascript cookie library -->
  <script src="{{ resources_uri }}/js.cookie.min.js"></script>

  <!-- local scriptage and stylings -->
  <script src="{{ url_for('static', filename='misc.js') }}"></script>
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
  {% if config['ENV'] == 'development' %}
  <link rel='stylesheet' href="{{ url_for('static', filename='development.css') }}">
  {% endif %}
  {% if css_override %}
  <style>{{ css_override }}</style>
  {% endif %}
  <title>{{ title }} - {% block title %}{% endblock %}</title>
  {% block extra %}{% endblock %}
  <script>
    // are we an admin?
    var am_admin = {{ session["admin"]|default(False)|tojson }};
  </script>
</head>
<body>
<div id='toast-container' class='toast-container position-absolute bottom-0 end-0 p-3'>
</div>
{% block dialog %}{% endblock %}
{% block confirm %}{% endblock %}
<nav>
  <h1><a href="{{ url_for('index') }}">{{ title }} - {{ self.title() }}</a></h1>

  <ul>
    {%- if session['givenName'] %}
      <li>{{ _('Hello,')}} {{ session['givenName'] }}</li>
    {%- elif session['cn'] %}
      <li>{{ _('Hello,')}} {{ session['cn'] }}</li>
    {% endif %}
    {%- if session['admin'] %}
      {%- if session['admin_view'] %}
  <li><a href="{{ url_for('dashboard.user_view_redirect') }}">{{ _('Switch to user view') }}</a></li>
      {%- else %}
  <li><a href="{{ url_for('admin.admin') }}">{{ _('Switch to admin view') }}</a></li>
      {%- endif %}
    {%- endif %}
  </ul>
</nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class='flash'>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
<section class='content'>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
<section class='footer'>
  <footer>
    <p>Built with Flask</p>
    <p><a href="https://git.computecanada.ca/frak/burst/manager/-/issues" target="_blank">{{ _('Please report issues') }}</a></p>
  </footer>
</section>
{% block scriptage %}{% endblock %}
</body>
</html>
