<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} - #frak</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://static.d4.c3.ca/js/js.cookie.js"></script>
  <link rel='stylesheet' href="{{ url_for('static', filename='style.css') }}">
  <link rel='stylesheet' href="https://static.d4.c3.ca/js/jquery-ui-1.12.1.custom/jquery-ui.min.css">
  <link rel='stylesheet' href="https://static.d4.c3.ca/js/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css">
  {% block extra %}{% endblock %}
  <script>
    // are we an admin?
    var am_admin = {{ session["admin"]|default(False)|tojson }};
  </script>
</head>
<body>
{% block dialog %}{% endblock %}
{% block confirm %}{% endblock %}
<nav>
  <h1><a href="{{ url_for('index') }}">{{ _('Burst Enablement') }}</a></h1>

  <ul>
    {%- if session['givenName'] %}
      <li>{{ _('Hello,')}} {{ session['givenName'] }}</li>
    {%- elif session['cn'] %}
      <li>{{ _('Hello,')}} {{ session['cn'] }}</li>
    {% endif %}
    {%- if session['admin'] %}
      {%- if session['admin_view'] %}
  <li><a href="{{ url_for('index', mode='user') }}">{{ _('Switch to user view') }}</a></li>
      {%- else %}
  <li><a href="{{ url_for('index',  mode='admin') }}">{{ _('Switch to admin view') }}</a></li>
      {%- endif %}
    {%- endif %}
  </ul>
</nav>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class='flash'>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
<section class='content'>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
<section class='footer'>
  <footer>
    <p>Built with Flask</p>
    <p><a href="https://git.computecanada.ca/frak/burst-enablement/manager/-/issues" target="_blank">Please report issues</a></p>
  </footer>
</section>
{% block scriptage %}{% endblock %}
</body>
</html>
